body {
   height: 100%;
   margin: 0;
   /* background: linear-gradient(#EB65B8,#8EB0FF); */
   scroll-behavior: smooth;
}

section {
   /* min-height: 60vh; */
   display: flex;
   justify-content: center;
   align-items: center;
}

section > div {
   height: 100%;
   width: 1024px;
   display: flex;
   justify-content: center;
   align-items: center;
}

#section-1 {
   background: linear-gradient(#FFCB9C,#EB65B8);
   height: 100vh;
   padding-top: 100px;
}

#section-2 {
   /* background: linear-gradient(#EB65B8,#cb7fd0); */
   padding: 10rem 0;
}

#section-3 {
   /* background: linear-gradient(#CB7FD0,#b392e3); */
   flex-direction: column;
   padding: 10rem 0;
}

#section-4 {
   /* background: linear-gradient(#B392E3,#98a8f7); */
}

footer {
   /* background: linear-gradient(#98A8F7,#8eb0ff); */
}

.text-shadow {
   text-shadow: 0 2px 4px rgba(0,0,0,0.10);
 }

 .text-shadow-md {
   text-shadow: 0 4px 8px rgba(0,0,0,0.12), 0 2px 4px rgba(0,0,0,0.08);
 }

 .text-shadow-lg {
   text-shadow: 0 15px 30px rgba(0,0,0,0.11), 0 5px 15px rgba(0,0,0,0.08);
 }

 .text-shadow-none {
   text-shadow: none;
 }